
.mydiv{
  width: 500px;
  height: 500px;
  overflow: auto;
  position: relative;

 
}

div.mydiv img{
  width: 150px;
  height: 150px;
  /* position: fixed; */
  position: absolute;
  /* position: relative; */
  /* position: fixed; */
  /* left: 150px;
  top:150px; */
  opacity: 0.1;
}
div.mydiv img:hover{
  opacity: 1.0;
}